In [31]:
import tensorflow as tf
import numpy as np
import pandas as pd

print(tf.__version__)
print(np.__version__)

2.4.0
1.19.5

# Data Cleaning

In [3]:
# pull down data from the Expense Tagging repo
df = pd.read_csv("https://github.com/EZ-Walk/Expense-Tagging/blob/f6b58fbcc1270d6bcdab82873673ee34c6d1e84a/Data/raw/AccountHistory%20(1).csv?raw=true")
print(df.shape)
df.head()

(3509, 8)

,Account Number,Post Date,Check,Description,Debit,Credit,Status,Balance
0,443091309,4/27/2024,NaN,"GITHUB, INC. +18774484820 CAUS",10.00,NaN,Pending,NaN
1,443091309,4/25/2024,NaN,LIME*RIDE +18885463345 CAUS,4.44,NaN,Pending,NaN
2,443091309,4/27/2024,NaN,Deposit weekly allowance,NaN,120.0,Posted,116.43
3,443091309,4/27/2024,NaN,Point Of Sale Withdrawal MASABI_RTD 1600 Blake...,2.70,NaN,Posted,-3.57
4,443091309,4/27/2024,NaN,Point Of Sale Withdrawal SQ *CURTIS PARK 2532 ...,19.24,NaN,Posted,-0.87

In [4]:
# keep only rows with Debit!=NaN, Status=Posted, and Account Number == 4430913
df = df[df['Debit'].notnull()]
df = df[df['Status'] == 'Posted']
df = df[df['Account Number'] == 443091309]
print('Data shape:', df.shape)
df.head()

Data shape: (2726, 8)

,Account Number,Post Date,Check,Description,Debit,Credit,Status,Balance
3,443091309,4/27/2024,NaN,Point Of Sale Withdrawal MASABI_RTD 1600 Blake...,2.70,NaN,Posted,-3.57
4,443091309,4/27/2024,NaN,Point Of Sale Withdrawal SQ *CURTIS PARK 2532 ...,19.24,NaN,Posted,-0.87
5,443091309,4/27/2024,NaN,Point Of Sale Withdrawal SQ *CURTIS PARK 2532 ...,2.75,NaN,Posted,18.37
6,443091309,4/26/2024,NaN,Point Of Sale Withdrawal TST* FAMOUS ORI 713 E...,10.80,NaN,Posted,21.12
7,443091309,4/26/2024,NaN,External Withdrawal PAYPAL INSTANT TRANSFER - ...,60.00,NaN,Posted,31.92

In [5]:
# keep only the desired columns
data = df[['Post Date', 'Debit', 'Description']]
print('Data shape:', data.shape)
data.head()

Data shape: (2726, 3)

   Post Date  Debit                                        Description
3  4/27/2024   2.70  Point Of Sale Withdrawal MASABI_RTD 1600 Blake...
4  4/27/2024  19.24  Point Of Sale Withdrawal SQ *CURTIS PARK 2532 ...
5  4/27/2024   2.75  Point Of Sale Withdrawal SQ *CURTIS PARK 2532 ...
6  4/26/2024  10.80  Point Of Sale Withdrawal TST* FAMOUS ORI 713 E...
7  4/26/2024  60.00  External Withdrawal PAYPAL INSTANT TRANSFER - ...

In [6]:
# convert the 'Post Date' column to datetime
data['Date'] = data['Post Date'].astype('datetime64')
data

/var/folders/kd/x3brfgln0ng5q695bs9wjnkc0000gn/T/ipykernel_18875/1454478724.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Date'] = data['Post Date'].astype('datetime64')

,Post Date,Debit,Description,Date
3,4/27/2024,2.70,Point Of Sale Withdrawal MASABI_RTD 1600 Blake...,2024-04-27
4,4/27/2024,19.24,Point Of Sale Withdrawal SQ *CURTIS PARK 2532 ...,2024-04-27
5,4/27/2024,2.75,Point Of Sale Withdrawal SQ *CURTIS PARK 2532 ...,2024-04-27
6,4/26/2024,10.80,Point Of Sale Withdrawal TST* FAMOUS ORI 713 E...,2024-04-26
7,4/26/2024,60.00,External Withdrawal PAYPAL INSTANT TRANSFER - ...,2024-04-26
...,...,...,...,...
3502,5/24/2018,7.35,Point Of Sale Withdrawal DEBIT PURCHASE CHIC...,2018-05-24
3503,5/22/2018,45.25,Point Of Sale Withdrawal POS PURCHASE CORNER...,2018-05-22
3504,5/17/2018,45.66,External Withdrawal ANYTIME FIT ABC/CLUB FEES/...,2018-05-17
3505,5/8/2018,9.47,Point Of Sale Withdrawal DEBIT PURCHASE CHIP...,2018-05-08
3506,5/7/2018,10.00,Point Of Sale Withdrawal DEBIT PURCHASE JUNG...,2018-05-07

In [7]:
# fill in dates without expenses as 0
data = data.set_index('Date').resample('D').sum().fillna(0)

In [8]:
# Print the shape one last time and the date range encomapssed by the data as a Month, Day, Year
print('Data shape:', data.shape)
date_range = data.index[[0, -1]]
print('Date range:', date_range[0].strftime('%B %d, %Y'), 'to', date_range[1].strftime('%B %d, %Y'))

Data shape: (2183, 1)
Date range: May 07, 2018 to April 27, 2024

In [9]:
data.to_csv('data/transactions.csv', index=False)

# Pre Processing

In [10]:
from sklearn.preprocessing import MinMaxScaler
df = pd.read_csv('data/transactions.csv')
print(df.shape)
df.head()

<frozen importlib._bootstrap>:219: RuntimeWarning: scipy._lib.messagestream.MessageStream size changed, may indicate binary incompatibility. Expected 56 from C header, got 64 from PyObject

(2183, 1)

   Debit
0  10.00
1   9.47
2   0.00
3   0.00
4   0.00

In [53]:
# Normalize the data
scaler = MinMaxScaler(feature_range=(0, 1))
df['norm_Debit'] = scaler.fit_transform(df['Debit'].values.reshape(-1,1))
df.head()

   Debit  norm_Debit
0  10.00    0.000294
1   9.47    0.000278
2   0.00    0.000000
3   0.00    0.000000
4   0.00    0.000000

In [54]:
# Transform the data into sequences
sequence_length = 32
result = []
for index in range(len(df) - sequence_length+1):
    result.append(df['norm_Debit'].values[index: index + sequence_length])

result = np.array(result)

In [55]:
# Split the data into training and testing sets
train_size = round(0.9 * result.shape[0])  # 90% for training
x_train = result[:int(train_size), :-1]
y_train = result[:int(train_size), -1]
x_test = result[int(train_size):, :-1]
y_test = result[int(train_size):, -1]
print(x_train.shape, y_train.shape, x_test.shape, y_test.shape)

(1937, 31) (1937,) (215, 31) (215,)

In [56]:
# Save the training data
np.save('data/x_train.npy', x_train)
np.save('data/y_train.npy', y_train)

# Save the testing data
np.save('data/x_test.npy', x_test)
np.save('data/y_test.npy', y_test)

# Model Building

In [57]:
# Define the model architecture
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense, Dropout

In [ ]:


model = Sequential()
model.add(LSTM(100, activation='tanh', return_sequences=True, input_shape=(378, 1)))
model.add(Dropout(0.2))
model.add(LSTM(100, activation='tanh'))
model.add(Dropout(0.2))
model.add(Dense(3, activation='tanh'))

In [72]:
# Define a simple model
model = Sequential()
model.add(LSTM(100, activation='tanh', return_sequences=True, input_shape=(32, 1)))
model.add(Dropout(0.2))
model.add(Dense(1, activation='tanh'))

In [59]:
# Compile the model
from tensorflow.keras.optimizers import Adam, SGD
adam = Adam(learning_rate=0.001)
sgd = SGD(learning_rate=1.0)

model.compile(optimizer=sgd, loss='mean_absolute_error')

In [60]:
# Print the model summary
model.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_6 (LSTM)                (None, 32, 30)            3840
_________________________________________________________________
dropout_6 (Dropout)          (None, 32, 30)            0
_________________________________________________________________
dense_4 (Dense)              (None, 32, 1)             31
=================================================================
Total params: 3,871
Trainable params: 3,871
Non-trainable params: 0
_________________________________________________________________

# Model training

In [61]:
# Load the training and testing data
x_train = np.load('data/x_train.npy')
x_train = np.expand_dims(x_train, axis=2)
y_train = np.load('data/y_train.npy')
y_train = np.expand_dims(y_train, axis=1)

# Load the testing data
x_test = np.load('data/x_test.npy')
y_test = np.load('data/y_test.npy')
x_test = np.expand_dims(x_test, axis=2)
y_test = np.expand_dims(y_test, axis=1)
print(x_train.shape, y_train.shape, x_test.shape, y_test.shape)

(1937, 31, 1) (1937, 1) (215, 31, 1) (215, 1)

In [62]:
# Reshape input to be 3D [samples, timesteps, features]
# x_train = x_train.reshape((x_train.shape[0], x_train.shape[1], 1))

# Fit the model
history = model.fit(
    x_train, y_train,
    epochs=10,  # adjust this value based on your requirements
    batch_size=64,  # adjust this value based on your requirements
    # validation_split=0.1,  # 10% of the data will be used for validation
    shuffle=False,
)

Epoch 1/10
WARNING:tensorflow:Model was constructed with shape (None, 32, 1) for input KerasTensor(type_spec=TensorSpec(shape=(None, 32, 1), dtype=tf.float32, name='lstm_6_input'), name='lstm_6_input', description="created by layer 'lstm_6_input'"), but it was called on an input with incompatible shape (None, 31, 1).
WARNING:tensorflow:Model was constructed with shape (None, 32, 1) for input KerasTensor(type_spec=TensorSpec(shape=(None, 32, 1), dtype=tf.float32, name='lstm_6_input'), name='lstm_6_input', description="created by layer 'lstm_6_input'"), but it was called on an input with incompatible shape (None, 31, 1).
27/28 [===========================>..] - ETA: 0s - loss: 0.3975WARNING:tensorflow:Model was constructed with shape (None, 32, 1) for input KerasTensor(type_spec=TensorSpec(shape=(None, 32, 1), dtype=tf.float32, name='lstm_6_input'), name='lstm_6_input', description="created by layer 'lstm_6_input'"), but it was called on an input with incompatible shape (None, 31, 1).
28/28 [==============================] - 2s 26ms/step - loss: 0.4000 - val_loss: 0.1957
Epoch 2/10
28/28 [==============================] - 0s 11ms/step - loss: 0.3922 - val_loss: 0.3241
Epoch 3/10
28/28 [==============================] - 0s 11ms/step - loss: 0.4020 - val_loss: 0.2073
Epoch 4/10
28/28 [==============================] - 0s 10ms/step - loss: 0.3914 - val_loss: 0.2092
Epoch 5/10
28/28 [==============================] - 0s 13ms/step - loss: 0.4000 - val_loss: 0.3325
Epoch 6/10
28/28 [==============================] - 0s 15ms/step - loss: 0.4000 - val_loss: 0.2811
Epoch 7/10
28/28 [==============================] - 0s 11ms/step - loss: 0.4003 - val_loss: 0.2257
Epoch 8/10
28/28 [==============================] - 0s 11ms/step - loss: 0.3971 - val_loss: 0.7367
Epoch 9/10
28/28 [==============================] - 0s 11ms/step - loss: 0.4508 - val_loss: 0.2804
Epoch 10/10
28/28 [==============================] - 0s 14ms/step - loss: 0.3993 - val_loss: 0.1012

In [63]:
import altair as alt
# Prepare the data for plotting
# Prepare the data for plotting
data = pd.DataFrame({
    'Epoch': list(range(1, len(history.history['loss']) + 1)) * 2,
    'Loss': history.history['loss'] + history.history['val_loss'],
    'Type': ['Training Loss'] * len(history.history['loss']) + ['Validation Loss'] * len(history.history['val_loss'])
})

# Plot the loss
alt.Chart(data).mark_line().encode(
    x='Epoch',
    y='Loss',
    color='Type'
).interactive()

alt.Chart(...)

In [71]:
# predict the next 30 days of expenses
predictions = model.predict(x_test)
predictions.shape

(215, 31, 1)

In [68]:
daily_expenses = scaler.inverse_transform(predictions)

ValueError: Found array with dim 3. Estimator expected <= 2.

In [69]:
daily_expenses

array([[240.96193, 236.17885, 234.8663 ],
       [242.8327 , 237.788  , 236.63513],
       [242.82092, 238.23582, 237.01141],
       [241.92282, 237.9731 , 236.61967],
       [240.44524, 237.17888, 235.68271],
       [257.52563, 247.2765 , 248.33508],
       [265.4116 , 253.35785, 255.34375],
       [267.01282, 255.85667, 257.83545],
       [267.29526, 257.10712, 259.06323],
       [264.51462, 256.13367, 257.80264],
       [262.2694 , 254.98935, 256.60733],
       [258.4059 , 252.63959, 254.05357],
       [257.11545, 251.55542, 253.1687 ],
       [254.12115, 249.52213, 251.03955],
       [250.38853, 246.96274, 248.23195],
       [247.74956, 244.93825, 246.07341],
       [245.20152, 242.98914, 243.93372],
       [243.75539, 241.71698, 242.55417],
       [241.63885, 240.14633, 240.7026 ],
       [240.12012, 238.93079, 239.23958],
       [239.92497, 238.53995, 238.74579],
       [238.80798, 237.72623, 237.64944],
       [238.46701, 237.36523, 237.10002],
       [238.03806, 236.99817, 236.52258],
       [236.96063, 236.25916, 235.48325],
       [235.61314, 235.30524, 234.21211],
       [234.51631, 234.43636, 233.08783],
       [233.35748, 233.50728, 231.91164],
       [232.25905, 232.5918 , 230.7698 ],
       [231.28511, 231.73836, 229.71515],
       [230.46211, 230.97513, 228.77518],
       [229.79375, 230.31471, 227.9593 ],
       [229.87645, 230.11824, 227.71013],
       [229.7736 , 229.883  , 227.3847 ],
       [231.62933, 230.83948, 228.522  ],
       [232.39818, 231.3271 , 229.01244],
       [232.80553, 231.62027, 229.26122],
       [232.69962, 231.5858 , 229.13472],
       [232.32198, 231.33289, 228.78395],
       [231.82544, 230.95267, 228.3196 ],
       [231.30287, 230.51514, 227.81589],
       [231.39874, 230.42055, 227.75375],
       [231.24171, 230.21571, 227.54025],
       [231.90991, 230.5086 , 227.93568],
       [232.0382 , 230.55537, 227.99391],
       [231.90384, 230.4501 , 227.85988],
       [231.63577, 230.24574, 227.61378],
       [232.39119, 230.62756, 228.10431],
       [232.54152, 230.72281, 228.21196],
       [232.34639, 230.61122, 228.06334],
       [232.36049, 230.59326, 228.04694],
       [232.10593, 230.41502, 227.83646],
       [231.72177, 230.13936, 227.51546],
       [234.53014, 231.73859, 229.52184],
       [235.7416 , 232.6413 , 230.55959],
       [235.90097, 232.94785, 230.84248],
       [235.46613, 232.82549, 230.63916],
       [234.73225, 232.42842, 230.15332],
       [234.34998, 232.15732, 229.86949],
       [234.38564, 232.11603, 229.88141],
       [234.33858, 232.05283, 229.85068],
       [233.89441, 231.7662 , 229.53102],
       [235.31108, 232.56064, 230.55122],
       [235.60486, 232.82698, 230.85434],
       [235.25346, 232.70584, 230.6721 ],
       [235.065  , 232.62122, 230.56282],
       [234.48521, 232.2795 , 230.15027],
       [233.72998, 231.78741, 229.57195],
       [233.9435 , 231.82794, 229.6691 ],
       [233.66681, 231.63199, 229.44682],
       [233.13875, 231.28183, 229.02806],
       [232.5114 , 230.84682, 228.5111 ],
       [231.87639, 230.38225, 227.96465],
       [231.28516, 229.92723, 227.4326 ],
       [232.2191 , 230.37167, 228.00899],
       [235.09657, 232.09293, 230.10692],
       [236.2185 , 233.0087 , 231.10114],
       [236.28535, 233.29733, 231.3201 ],
       [235.76375, 233.14037, 231.0476 ],
       [235.03915, 232.75288, 230.55794],
       [234.16704, 232.19421, 229.90768],
       [233.88107, 231.92313, 229.64496],
       [234.42041, 232.15657, 229.99843],
       [234.28955, 232.07214, 229.91707],
       [233.79675, 231.76846, 229.5567 ],
       [233.51492, 231.55536, 229.31902],
       [232.99655, 231.1975 , 228.9011 ],
       [233.31334, 231.31432, 229.074  ],
       [233.14264, 231.19707, 228.92989],
       [232.7151 , 230.92241, 228.58696],
       [232.1784 , 230.55595, 228.14061],
       [231.62198, 230.15158, 227.65764],
       [231.97607, 230.26999, 227.82661],
       [232.01395, 230.26459, 227.8129 ],
       [231.7925 , 230.11945, 227.61531],
       [231.44586, 229.88486, 227.31355],
       [231.05733, 229.60414, 226.96562],
       [231.32413, 229.69583, 227.08629],
       [231.28773, 229.65096, 227.02065],
       [231.0876 , 229.51157, 226.8354 ],
       [230.81349, 229.31458, 226.58633],
       [230.52019, 229.09102, 226.31303],
       [287.84293, 263.3078 , 268.96985],
       [315.583  , 284.68668, 293.09546],
       [324.57053, 295.3847 , 303.8492 ],
       [322.4088 , 298.05627, 305.6136 ],
       [314.9239 , 295.75052, 302.39612],
       [304.20728, 289.99857, 295.86758],
       [292.45416, 282.484  , 287.80096],
       [280.8827 , 274.3497 , 279.28268],
       [270.81927, 266.73608, 271.45294],
       [261.69568, 259.6186 , 264.064  ],
       [253.74907, 253.26723, 257.35492],
       [247.03964, 247.79828, 251.43217],
       [263.37537, 256.24017, 262.4715 ],
       [269.45914, 260.60406, 267.31644],
       [271.15775, 262.74432, 269.10034],
       [268.56458, 262.1268 , 267.56888],
       [263.9109 , 259.7607 , 264.17563],
       [258.34164, 256.3335 , 259.781  ],
       [252.77556, 252.50618, 255.12866],
       [247.90599, 248.84387, 250.81622],
       [243.45053, 245.33276, 246.72607],
       [239.52702, 242.11256, 242.97714],
       [236.90486, 239.68965, 240.16382],
       [234.51918, 237.52307, 237.5757 ],
       [232.4642 , 235.63596, 235.25914],
       [230.76971, 234.0298 , 233.23512],
       [230.0177 , 233.04326, 231.93735],
       [229.83229, 232.49776, 231.13681],
       [229.73695, 232.10837, 230.49026],
       [229.42929, 231.65436, 229.75293],
       [229.04884, 231.16946, 228.99629],
       [228.67625, 230.68434, 228.27174],
       [230.41273, 231.44702, 229.12213],
       [231.1465 , 231.78441, 229.40369],
       [231.28427, 231.793  , 229.29128],
       [231.44493, 231.77797, 229.1974 ],
       [231.26698, 231.54207, 228.8704 ],
       [230.92351, 231.17189, 228.41766],
       [230.52138, 230.73555, 227.91621],
       [232.14366, 231.48349, 228.89925],
       [232.86115, 231.85622, 229.3572 ],
       [232.9219 , 231.87213, 229.36021],
       [232.61995, 231.63893, 229.07841],
       [232.14293, 231.25421, 228.63982],
       [233.28934, 231.79483, 229.36856],
       [233.57068, 231.93718, 229.55885],
       [252.30576, 243.07411, 243.36914],
       [260.94595, 249.74547, 250.9468 ],
       [263.4239 , 252.8823 , 254.09596],
       [262.1995 , 253.34607, 254.24257],
       [258.99457, 252.0282 , 252.56346],
       [254.90413, 249.66017, 249.8983 ],
       [250.60071, 246.79091, 246.81221],
       [246.47673, 243.8023 , 243.6648 ],
       [243.24669, 241.24022, 241.04024],
       [240.32066, 238.88246, 238.58438],
       [237.69325, 236.75096, 236.30246],
       [235.42792, 234.89061, 234.25029],
       [233.75308, 233.44263, 232.60997],
       [232.32121, 232.21988, 231.15482],
       [231.956  , 231.69302, 230.48824],
       [231.40472, 231.17235, 229.75024],
       [230.85336, 230.69904, 229.03387],
       [232.99379, 231.84258, 230.30704],
       [234.67973, 232.9406 , 231.43724],
       [235.10724, 233.38734, 231.7331 ],
       [234.8147 , 233.34976, 231.48318],
       [241.37395, 237.28352, 236.22888],
       [257.45068, 247.38812, 248.45299],
       [264.41882, 253.18892, 254.8556 ],
       [265.73795, 255.55717, 257.09036],
       [263.85507, 255.4752 , 256.65106],
       [260.12387, 253.69069, 254.4866 ],
       [255.61905, 250.93651, 251.42305],
       [251.43272, 248.0157 , 248.33426],
       [253.55759, 248.67743, 249.73366],
       [252.72964, 248.02399, 249.24992],
       [250.58427, 246.63266, 247.751  ],
       [249.69337, 245.8975 , 247.0482 ]], dtype=float32)